*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  margin: 0;
}

html {
  box-sizing: border-box;
}

body {
  min-width: 960px;
  display: flex;
  flex-direction: column;

  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;

  background-color: #000;
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-position: top center;
}

.main-wrapp {
  flex-grow: 1;
  margin-bottom: 65px;
}

.container {
  box-sizing: content-box;
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.index-columns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 36px;
  padding: 50px 80px;

  color: #000;

  background-color: #f6f3f0;
  background-image: url("../img/separator.png"),
                    url("../img/wrapp-bg.jpg");
  background-repeat: no-repeat, repeat;
  background-position: center;
}

.index-columns:last-child {
  margin-bottom: 0;
}

.page-title {
  margin: 0;

  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 30px;
  line-height: 42px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000;
}

.index-columns .page-title {
  margin-bottom: 25px;
}

.button {
  display: inline-block;
  margin-right: 16px;
  padding: 10px 30px;

  font: inherit;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;

  background-color: #000;
  border: none;

  cursor: pointer;
  outline: none;
}

.button:last-child {
  margin-right: 0;
}

.button:hover,
.button:focus,
.button:active {
  background-color: #663d15;
}

.button:disabled {
  background-color: #242424;
  cursor: not-allowed;
}









/** Шапка сайта **/
.main-header {
  margin-bottom: 60px;
}

.main-nav {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: 16px;
  line-height: 20px;
  color: #fff;
}

.logo {
  order: 2;
}

.logo img {}

.nav-wrapp {
  width: 100%;
  margin-bottom: 60px;

  background-color: #000;
}

.nav-wrapp .container {
  display: flex;
  justify-content: space-between;
}

.site-nav {
  width: 620px;
}

.user-nav {
  max-width: 140px;
}

.site-nav,
.user-nav {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.site-nav .active a {
  position: relative;
}

.site-nav .active a::before {
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: 0;

  height: 4px;

  background-color: #fff;

  content: "";
}

.site-nav a,
.user-nav a {
  display: block;
  padding: 25px 20px;

  color: #fff;
  text-decoration: none;

  outline: none;
}

.site-nav a:hover,
.user-nav a:hover,
.site-nav a:focus,
.user-nav a:focus,
.site-nav a:active,
.user-nav a:active {
  background-color: #242424;
}

.user-nav .icon-signin {
  position: relative;
  padding-left: 54px;
}

.user-nav .icon-signin::before {
  position: absolute;
  top: 27px;
  left: 24px;

  width: 16px;
  height: 16px;

  background-image: url("../img/icon-sigin.svg");
  background-repeat: no-repeat;

  content: "";
}






/** Преимущества **/
.features {
  margin-bottom: 70px;
}

.features-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.features-item {
  width: 300px;
  text-align: center;
}

.features-item .page-title {
  position: relative;

  margin: 0;
  padding-bottom: 60px;

  color: #fff;
}

.features-item .page-title::after {
  position: absolute;
  top: 60px;
  left: 50%;

  width: 20px;
  height: 20px;
  margin-left: -10px;

  background-color: #fff;

  transform: rotate(45deg);
  content: "";
}

.features-item p {
  margin: 0 24px;
}








/** Новости **/
.news {
  width: 380px;
}

.news-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.news-item {
  margin-bottom: 20px;
}

.news-item p {
  margin: 0;
}
.news-item time {
  text-transform: none;
}








/** Галерея **/
.gallery {
  position: relative;

  box-sizing: border-box;
  width: 300px;
  height: 315px;
}

.gallery-content {
  margin: 0;
}

.gallery-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.gallery-item {
  position: relative;
  display: none;
}

.gallery-item.active {
  display: block;
}

.gallery-link {
  display: block;
  width: 100%;

  line-height: 0;
  color: #000;

  background-color: #ccc;
  border: 7px solid #fff;

  outline: none;
}

.gallery-link:hover {
  border-color: rgba(102, 61, 21, .3);
}

.gallery-link:hover figcaption {
  color: #fff;
  background-color: rgba(102, 61, 21, .3);
}

.gallery-link:focus,
.gallery-link:active {
  border-color: #663d15;
}

.gallery-link img {
  width: 286px;
  height: 164px;
}

.gallery-link figcaption {
  position: absolute;
  left: 7px;
  right: 7px;
  bottom: 7px;

  box-sizing: border-box;
  max-height: 65px;
  padding: 10px 20px;

  line-height: 24px;
  text-align: center;

  background-color: rgba(255, 255, 255, .6);

  overflow: hidden;
}

.gallery-link:hover figcaption,
.gallery-link:focus figcaption,
.gallery-link:active figcaption {
  max-height: 80px;

  color: #fff;
  background-color: rgba(102, 61, 21, .6);
}

.gallery-link:active figcaption {
  background-color: rgba(102, 61, 21, .8);
}

.gallery-button {
  position: absolute;
  bottom: 0;

  width: 140px;
  margin: 0;
}

.gallery-button-back {
  left: 0;
}

.gallery-button-next {
  right: 0;
}






/** Контакты **/
.contacts {
  width: 380px;
}

.contacts address,
.contacts p {
  margin: 0;
  margin-bottom: 25px;

  font-style: normal;
}





/** Записаться **/
.appointment {
  width: 300px;
}

.appointment > p {
  margin: 0;
  margin-bottom: 15px;
}

.appointment-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.appointment-item {
  display: flex;
  flex-direction: column;
  width: 140px;
  margin: 0;
  margin-bottom: 8px;
}

.appointment-item label {
  margin-left: 17px;
  margin-bottom: 7px;
}

.appointment-item input {
  padding: 8px 15px 7px 15px;

  font: inherit;

  background-color: #f9f6f3;
  border: 2px solid #000;
}

.appointment-item input:focus {
  border-color: #663d15;
  outline: none;
}

.appointment-item input::placeholder {
  color: rgba(0, 0, 0, .7);
}

.appointment .button {
  width: 100%;
  margin-top: 10px;
}





/** Подвал **/
.main-footer {
  padding: 60px;

  background-color: #1f1f1f;
  background-image: url("../img/footer-bg.jpg");
  background-repeat: repeat;
}

.main-footer .container {
  display: flex;
}

.main-footer-title {
  display: block;
  margin-bottom: 15px;

  font-weight: 700;
  text-align: center;
}

.main-footer address {
  width: 320px;
  margin-right: 80px;

  font-style: normal;
}

.main-footer .social {
  width: 150px;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.social-item {
  margin-right: 6px;
  margin-bottom: 6px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 43px;
  height: 43px;

  color: #fff;

  background-color: #000;
}

.social-link:hover,
.social-link:focus {
  color: #000;
  background-color: #fff;
}

.social-link:hover path,
.social-link:focus path {
  fill: #000;
}

.main-footer .copyright {
  margin-left: auto;
}

.copyright {
  margin: 0;
}

.copyright a:hover,
.copyright a:hover {
  color: #000;
  background-color: #fff;
}
